@model Airlines.Data.Entities.RaceTeam

@{
    ViewBag.Title = "RaceTeamCreation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RaceTeamCreation</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>RaceTeam</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="col-md-4">Choose a pilot for a new team</label>
        <div class="col-md-10">
            @Html.DropDownList("PilotID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PilotID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4">Choose a navigator for a new team</label>
        <div class="col-md-10">
            @Html.DropDownList("NavigatorID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NavigatorID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4">Choose a first Stuardess for a team</label>
        <div class="col-md-10">
            @Html.DropDownList("Stuardess1", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PilotID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4">Choose a second Stuardess for a team</label>
        <div class="col-md-10">
            @Html.DropDownList("Stuardess2", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PilotID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4">Choose a Radioman for a team</label>
        <div class="col-md-10">
            @Html.DropDownList("RadioManID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RadioManID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

