@model Airlines.Data.Entities.RaceTeam

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this Raceteam?</h3>
<table class="table">
    <tr>
        <th>
            Number
        </th>
        <th>
            Pilot
        </th>
        <th>
            Navigator
        </th>
        <th>
            RadioMan
        </th>
        <th>
            Sturdesses
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.ID)
        </td>
        <td>
            @Html.DisplayFor(model => model.Pilot.FirstName) <span> </span> @Html.DisplayFor(model => model.Pilot.LastName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Navigator.FirstName) <span> </span> @Html.DisplayFor(model => model.Navigator.LastName)
        </td>
        <td>
            @Html.DisplayFor(model => model.RadioMan.FirstName) <span> </span> @Html.DisplayFor(model => model.RadioMan.LastName)
        </td>
        <td>
            @foreach (var item2 in Model.Stuardesses)
            {
                @Html.DisplayFor(modelItem => item2.FirstName) <span> </span> @Html.DisplayFor(modelItem => item2.LastName) <br />
            }
        </td>
</table>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" />
    </div>
}


